{% extends 'interior_layout.html' %}

{% block content %}

<h1>Welcome to Your Pet's Records</h1>
<div class="records" style="margin-left: 20%;">

    <img src="{{ record.thumb.url }}">
    {% for record in records %}
    <div class="individual_record">
        <h2>Feed #{{record.feedID}}</h2>
        <p>Time fed: {{record.dateTime}}</p>
        <p>Amount leftover:{{record.amountLeftOver}}</p>
        <p>Amount dispersed:{{record.amountDispensed}}</p>
            <!-- <img src="{{ record.thumb.url }}"> -->
    </div>
    {% endfor %}
</div>


{% endblock %}
