{% extends 'interior_layout.html' %}

{% block content %}

<h1>Welcome to Your Pet's Records</h1>
<div class="records" style="margin: 0 auto;">

    <table>
  <tr> <!-- First row-->
    <th>Feed</th>
      <th>Pet</th>
    <th>Time</th>
    <th>Amount Leftover</th>
      <th>New Amount Dispensed</th>
            <th>Comments</th>
  </tr>

            <div class="individual_record">
  <tr>
    <td>1</td>
          <td>Ludo</td>
    <td>Nov. 27, 2018, 08:52 a.m.</td>
    <td>0</td>
      <td>100</td>
            <td>First feed! #breakfast</td>
  </tr>
                <tr>
    <td>2</td>
          <td>Ludo</td>
    <td>Nov. 27, 2018, 13:01 p.m.</td>
    <td>15</td>
      <td>85</td>
            <td>Lunch: had a bit left over from breakfast?</td>
  </tr>


                  <tr>
    <td>3</td>
          <td>Ludo</td>
    <td>Nov. 27, 2018, 20:53 p.m.</td>
    <td>0</td>
      <td>100</td>
            <td>Poor chappy was hangry. Full feed.</td>
  </tr>

    </div>

         {% for record in records %}
    <div class="individual_record">
  <tr>
    <td>{{record.feedID}}</td>
          <td>{{record.selectPet.petName}}</td>
    <td>{{record.dateTime}}</td>
    <td>{{record.amountLeftOver}}</td>
      <td>{{record.amountDispensed}}</td>
            <td>{{record.additionalInfo}}</td>
  </tr>

    </div>
    {% endfor %}

</table>

<div style="font-size:medium; margin: 5%; background:transparent; text-align:center;">
    <a href="/records/create"><button>Manually enter record</button></a></div>

    <img src="{{ record.thumb.url }}">

</div>



{% endblock %}
