{% load static from staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Paw Patrol</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>

        <div class="navbar" style="width:94%; float:left; display:inline;">
            <ul>
                <li><a href="/your-pet">Your Pet</a></li>
                <li><a href="/stats">Stats</a></li>
            </ul></div>
<ul class="logout_button" style="margin-right:0px; position:absolute; display:inline; clear:right; margin-left:0px; margin-top:1px; width:auto;">
<!-- <li> -->
                    <form class="logout-link" action="/accounts/logout/" method="POST">
                        {% csrf_token %}
                        <button class="logout_button" type="submit">Log Out</button>
                    </form>
                <!-- </li> -->
            </ul>
<br >

        <div class="wrapper">
            <p style="text-transform: uppercase; font-size: 10px;">Logged in as: {{ request.user }}</p>     
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>